@model Dziennik.Models.Spoznienie

@{
    ViewBag.Title = "UsuwanieSpoznienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsuwanieSpoznienia</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Spoznienie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lekcja.dzien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lekcja.dzien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uczen.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uczen.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
