@model IEnumerable<Dziennik.Models.Przedmiot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Szukaj po nazwie: @Html.TextBox("search")
        <input type="submit" value="Szukaj" />
    </p>
}

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <th>@Html.DisplayNameFor(model => model.nazwa)</th>
        <th>@Html.DisplayNameFor(model => model.level)</th>
        <th>@Html.DisplayNameFor(model => model.Tresc_ksztalcenia)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.ID)</td>
        <td>@Html.DisplayFor(modelItem => item.nazwa)</td>
        <td>@Html.DisplayFor(modelItem => item.level)</td>
        <td>@Html.ActionLink(Html.DisplayFor(model => item.Tresc_ksztalcenia.plikSciezka).ToString(), "DownloadTrescKsztalcenia", new { id = item.ID })</td>
       

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
