@model Dziennik.Models.Profil

@{
    ViewBag.Title = "Index";
}

<h2>Uczniowie</h2>

<p>
    @Html.ActionLink("Create New", "Create","Uczen",null,null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Uczniowie[0].Klasa.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uczniowie[0].Rodzic.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uczniowie[0].imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uczniowie[0].nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uczniowie[0].login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uczniowie[0].haslo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Uczniowie)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klasa.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodzic.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haslo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Uczen", new { id = item.ID },null) |
                @Html.ActionLink("Details", "Details", "Uczen", new { id = item.ID }, null) |
                @Html.ActionLink("Delete", "Delete","Uczen", new { id = item.ID },null)
            </td>
        </tr>
    }

</table>


<h2>Rodzice</h2>

<p>
    @Html.ActionLink("Create New", "Create","Rodzic",null,null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rodzice[0].imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rodzice[0].nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rodzice[0].login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rodzice[0].haslo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Rodzice)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haslo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Rodzic", new { id = item.ID },null) |
                @Html.ActionLink("Details", "Details","Rodzic", new { id = item.ID },null) |
                @Html.ActionLink("Delete", "Delete","Rodzic", new { id = item.ID },null)
            </td>
        </tr>
    }

</table>

<h2>Administratorzy</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Administrator", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Administratorzy[0].imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administratorzy[0].nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administratorzy[0].login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administratorzy[0].haslo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Administratorzy)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haslo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit","Administrator", new { id = item.ID },null) |
                @Html.ActionLink("Details", "Details", "Administrator", new { id = item.ID },null) |
                @Html.ActionLink("Delete", "Delete", "Administrator", new { id = item.ID },null)
            </td>
        </tr>
    }

</table>

<h2>Nauczyciele</h2>

<p>
    @Html.ActionLink("Create New", "Create","Nauczyciel",null,null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].Klasa.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].haslo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Nauczyciele)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klasa.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haslo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Nauczyciel",new { id = item.NauczycielID },null) |
                @Html.ActionLink("Details", "Details", "Nauczyciel", new { id = item.NauczycielID },null) |
                @Html.ActionLink("Delete", "Delete", "Nauczyciel", new { id = item.NauczycielID },null)
            </td>
        </tr>
    }

</table>

