<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @Html.ActionLink("Nazwa aplikacji", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>

                    @if (Session["Status"] == "Admin")
                    {

                    <li>@Html.ActionLink("Administratorzy", "Administratorzy", "Administrator")</li>
                    <li>@Html.ActionLink("Nauczyciele", "Nauczyciele", "Administrator")</li>
                    <li>@Html.ActionLink("Uczniowie", "Uczniowie", "Administrator")</li>
                    <li>@Html.ActionLink("Rodzicie", "Rodzice", "Administrator")</li>
                    <li>@Html.ActionLink("Klasy", "Klasy", "Administrator")</li>
                    <li>@Html.ActionLink("Przedmioty", "Przedmioty", "Administrator")</li>
                    <li>@Html.ActionLink("Lekcje", "Lekcje", "Administrator")</li>
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UserName"] == null)
                    {
                        <li class="navbar-text">Nie jesteś zalogowany(a)</li>
                        <li>@Html.ActionLink("Zaloguj się", "Login", "Log")</li>
                    }
                    else
                    {
                        <li class="navbar-text">@Session["Name"].ToString() @Session["Forname"].ToString() (@Session["Status"].ToString() ) </li>
                        <li>@Html.ActionLink("Wyloguj", "Wyloguj", "Log")</li>
                    }

                </ul>
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — moja aplikacja platformy ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
