@model IEnumerable<Dziennik.Models.Nieobecnosc>

<p>
    @Html.ActionLink("Create New", "DodawanieNieobecnosci")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LekcjaID)
        </th>
		<th>
            Przedmiot
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LekcjaID)
        </td>
		<td>
            @Html.DisplayFor(modelItem => item.Lekcja.Przedmiot.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
		@if(item.Status == Dziennik.Models.Nieobecnosc.status.Nieusprawiedliwiona)
		{
        <td>
            @Html.ActionLink("Usprawiedliw","UsuwanieNieobecnosci", new { id = item.ID })
        </td>
		}
    </tr>
    }

</table>
