@using Dziennik.Models
@model IEnumerable<Dziennik.Models.Uwaga>

@{
    ViewBag.Title = "Uwagi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Uwagi ucznia: @ViewBag.imie @ViewBag.nazwisko</h2>
<table class="table">
    <tr>
        <th>
           Nauczyciel
        </th>
        <th>
            Nagłówek
        </th>
        <th>
           Treść
        </th>
        <th>
           Data
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nauczyciel.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naglowek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            
        </tr>
    }

</table>
@using (Html.BeginForm("Uwagi", "Rodzic", FormMethod.Get))
{

    <div class="form-group" align="center">
        <label for="sel1">Wybierz ucznia:</label>
        <select class="form-control" name="data" onchange="submit();" style="text-align-last:center;">
            <option value="">--Wybierz--</option>

            @foreach (var item in (List<Uczen>)ViewBag.dzieci)
            {


                <option value="@item.ID">@item.imie @item.nazwisko</option>


            }

</div>
}