@model IEnumerable<Dziennik.Models.Spoznienie>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UczenID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LekcjaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UczenID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LekcjaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>

        </tr>
    }

</table>
