@model dynam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Uczen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uczen.Klasa.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klasa.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rodzic.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodzic.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.haslo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.haslo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Nauczyciele</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Nauczyciel", null, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].Klasa.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nauczyciele[0].haslo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Nauczyciele)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Klasa.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haslo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Nauczyciel", new { id = item.NauczycielID }, null) |
                @Html.ActionLink("Details", "Details", "Nauczyciel", new { id = item.NauczycielID }, null) |
                @Html.ActionLink("Delete", "Delete", "Nauczyciel", new { id = item.NauczycielID }, null)
            </td>
        </tr>
    }

</table>

