@model dynamic
@{
    ViewBag.Title = "Details";
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!--Informacje o rodzicu-->
    <div>
        <h4>Nauczyciel</h4>
        <hr />
        <dl class="dl-horizontal">
            

            <dt>
                Imie
            </dt>

            <dd>
                @Model.rodzic.imie
            </dd>

            <dt>
                Nazwisko
            </dt>

            <dd>
                @Model.rodzic.nazwisko
            </dd>

            <dt>
                Login
            </dt>

            <dd>
                @Model.rodzic.login
            </dd>

            <dt>
               Hasło
            </dt>

            <dd>
                @Model.rodzic.haslo
            </dd>

        </dl>
    </div>

    <!--Informacje o dzieciach rodzica-->
    <h2>Dzieci rodzica (uczniowie)</h2>
    <table class="table" align="center">
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
        </tr>
        @foreach (var uczen in Model.uczniowie)
        {
            <tr>
                <td>@uczen.ID</td>
                <td>@uczen.imie</td>
                <td>@uczen.nazwisko</td>

            </tr>
        }
    </table>
    <!--Informacje o ogloszeniach od nauczyciela-->
    <h2>Ogloszenia rodzica</h2>
    <table class="table" align="center">
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
        </tr>
        @foreach (var ogl in Model.ogloszenia)
        {
        <tr>
            <td>@ogl.ID</td>
            <td>@ogl.naglowek</td>
            <td>@ogl.tresc</td>
            <td>@ogl.data</td>
        </tr>
        }
    </table>

</body>
</html>